version: "3.9"
services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  auth-service:
    build: ./backend/auth-service
    env_file: ./backend/auth-service/.env
    ports:
      - "3001:3001"
    depends_on:
      - mongo
      - redis
      - rabbitmq

  user-service:
    build: ./backend/user-service
    env_file: ./backend/user-service/.env
    ports:
      - "3002:3002"
    depends_on:
      - mongo
      - redis
      - rabbitmq

  account-service:
    build: ./backend/account-service
    env_file: ./backend/account-service/.env
    ports:
      - "3003:3003"
    depends_on:
      - mongo

  transaction-service:
    build: ./backend/transaction-service
    env_file: ./backend/transaction-service/.env
    ports:
      - "3004:3004"
    depends_on:
      - mongo

  notification-service:
    build: ./backend/notification-service
    env_file: ./backend/notification-service/.env
    ports:
      - "3005:3005"
    depends_on:
      - rabbitmq

volumes:
  mongo-data:
